body {
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    
}

.imgprincipal {
    width: 100%;

    
}

nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    background-color: black;
    border: 1px solid white;
    
}

nav ul li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    
}

.title {
    margin-left: 35%;
        
}

.footer {
    text-align: center;
    border: 1px solid white;
    
}

p {
    color:  white;
}
a {
    text-decoration: none;
    color: white;
}

.hrvertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 70vh;
    width: 4px;

}

.box {
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.boxsuperior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.boxinferior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ctimg {
    width: 50%;
    
}

.boxredes {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.boxyoutube {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.boxvideos {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

}

.todo {
    display: flex;
    flex-direction: column;
}

.redesimg {
    width: 100%;
    -webkit-filter: invert(100%);
}

.hrhorizontal {
    border: 1px solid white;
    width: 100%;
}

.formulario {
    -webkit-filter: invert(100%);
    display: flex;
    flex-direction: column;
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.boxform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.itemform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

